/* body{
  /* background-color: aqua; */
/* } */

#main {
  background-color: rgb(73, 199, 232);
  height: 100vh;
  width: 100vw;
  padding: 30px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-weight: bold;
}

li {
  padding: 2px;
}

.headline,
.headline2,
.about,
.p {
  color: white;
}

.fixed {
  border: 05px solid rgb(0, 202, 36);
  padding-left: 20px;
  padding-right: 20px;
}

.headline,
.headline2 {
  text-align: center;
  font: sans-serif;
}

.headline {
  font-size: 2.5rem;
  font-weight: normal;
}

.B {
  color: rgb(101, 133, 140);
}

.links {
  color: rgb(0, 200, 140);
}

.middle {
  height: 400px;
}

.img {
  height: 270px;
  width: 40vw;
  float: right;
  justify-content: right;
}
.i {
  max-width: 100%;
  max-height: 100%;
}
