* {
  box-sizing: border-box;
}

header,
footer {
  height: 100px;
  border: 1px solid black;
  clear: both;
}

.topA {
  height: 200px;
  width: 100%;
  border: 1px solid black;
  float: left;
}

.middleA {
  height: 300px;
  width: 100%;
}

.middle1 {
  height: 300px;
  width: 33.3333%;
  border: 1px solid black;
  float: left;
}

.middle2 {
  height: 300px;
  width: 66.6666%;
  border: 1px solid black;
  float: left;
}
